{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% include 'partials/header_references.html' %}
  </head>
  <body>
        {% render_partial 'mersana_app.views.site_header_component' %}
		
	 {% block content %}
         
        {% endblock %}

		
  
     {% render_partial 'mersana_app.views.site_footer_component' %}
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle>
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"></circle></svg></div>


 {% include 'partials/footer_references.html' %}
    
  </body>
</html>