<footer class="ftco-footer ftco-bg-dark ftco-section mt-1">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-1">
            	<h2 class="ftco-heading-2">اگه سوالی داشتین؟</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">تهران</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">09387756761</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">h1.shabani@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-1">
              <h2 class="ftco-heading-2">لینک های مهم</h2>
              <div class="block-21 mb-4 d-flex">
{#                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>#}
                <div class="text">
                     <ul class="list-unstyled">
                <li><a href="#">پیانوی من</a></li>
                <li><a href="#">نقاشی من</a></li>
                <li><a href="#">ورزش من</a></li>
                <li><a href="#">معرفی کتاب</a></li>
             
              </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-1 ml-md-4">
              <h2 class="ftco-heading-2">لینک ها</h2>
              <ul class="list-unstyled">
                <li><a href="#">خانه</a></li>
                <li><a href="#">درباره من</a></li>
                <li><a href="#">ارتباط با من</a></li>
{#                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Deparments</a></li>#}
{#                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>#}
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-1">
            	<h2 class="ftco-heading-2 mb-0">شبکه های اجتماعی</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-center float-lft mt-3">
                <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">
                تمامی حقوق این وبسایت متعلق به بُشگردی میباشد./
                 </p>
          </div>
        </div>
      </div>
    </footer>