.text-date{
    color: rgba(255, 255, 255, 0.7);;
    font-size: 16px;
}
.main-image {
  --width: min(90vw,1000px);
  --offest: 0 -0.7rem;

}
/*paint slider*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100svh;
  display: grid;
  place-items: center;
}

.list {
  width: var(--width);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.15rem;

  &:hover .item:not(:hover)::after { background-color: rgba(0,0,0,0.6); }

  & .item {
    position: relative;
    flex: 1;
    aspect-ratio: 1;
    border-radius: 0.25rem;
    transition: flex 0.8s, margin 0.6s;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transition: background-color 0.9s;
    }

    &:hover {
      flex: 9;
      z-index: 10;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    &:hover + .item { flex: 4; margin: var(--offest); z-index: 5; }
    &:has(+ :hover) { flex: 4; margin: var(--offest); z-index: 5; }

    & img {
      position: absolute;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}
/*end paint slider*/

.book_subject{
  color: #efedea;
  transform: rotate(-90deg);
}

 .testimony-wrap .user-img-trip {
    width: 600px;
    height: 400px;
    border-radius: 6px;
    position: relative;
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

 .caption{
  color: deeppink;
   font-weight: 600;
   font-size: 18px;
 }

 .book_text{
     color: rgba(0, 0, 0, 0.5);
     font-size: 20px;
     display: flex;
     text-align: justify;

 }

 /*show comment style*/

.comment_box{
    max-height: 400px;
    width: 100%;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
}
.comment_header{
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 6px;
    text-align: center;
}
.comment_name{
    color: #ea0404;
}
.comment_message{
    color: #6f42c1;
    font-weight: bold;
    font-size: large;
}
.comment_back{
    background-image: url(/static/images/3.jpg);
    background-position: center center;
    background-size: cover;
    height: 600px;
}
