{% extends 'partials/base.html' %}

{% block title %}
	درباره من
{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/contact_image.png');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
            <h1 class="mb-1 bread">درباره من</h1>
{#            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward">#}
{#            </i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span></p>#}
          </div>
        </div>
      </div>
    </section>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4 mt-4"> من مرسانا هستم</h2>
            <p>
                من مرسانا هستم و تهران زندگی کنم. 9 سالمه و دختر پر تلاش و سختکوشی هستم.  به آینده خوش بین هستم و 
               معتقدم برای رسیدن به هدف باید تلاش کرد که لازمه آن آگاهی داشتن است. واسه همین کتاب رو دوست دارم و عاشق کتاب خوندن هستم و 
                از اینکه در مورد موضوعات مختلف بتونم اطلاعات داشته باشم خوشحال میشم. من عاشق رنگ صورتی، بنفش و آبی هستم.
               </p>
          </div>
        </div>
    </div>

	
{% endblock %}