{% extends 'partials/base.html' %}
{% load static %}
{% load poll_extras %}

{% block title %}
	وبسایت مرسانا- صفحه اصلی
{% endblock %}


{% block content %}
    <section class="home-slider owl-carousel">
        {% for slider in sliders %}
        	      <div class="slider-item" style="background-image:url({{ slider.image.url }});">
     
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 text-center ftco-animate">
{#            <h1 class="mb-4">Kids Are The Best <span>Explorers In The World</span></h1>#}
{#            <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Read More</a></p>#}
          </div>
        </div>
        </div>
      </div>
        {% endfor %}

  </section>
    
{#   !<--Header-->#}
    <section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                  <img src="{% static 'images/icon/grand-piano.png' %}" width="60" height="60" alt="">
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">من عاشق پیانو هستم</h3>
                <p>
                    تقریبا دو سال هستش که آموزش پیانو رو شروع کردم و آهنگ های زیادی رو یاد گرفتم و قراره که در وب سایتم ویدیوهاشو نمایش بدم. 
                </p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		     <img src="{% static 'images/icon/read.png' %}" width="60" height="60" alt="">
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">من عاشق کتاب هستم</h3>
                <p>
                    من یه کتابخونه دارم و کتابهای زیادی رو خوندم و قراره بهتون کتابهای جالب معرفی کنم.
                </p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		 <img src="{% static 'images/icon/color-palette.png' %}" width="60" height="60" alt="">
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">من عاشق نقاشی هستم</h3>
                <p>
                    من نقاشی و رنگ آمیزی رو دوست دارم. واسه همین هر هفته کلاس نقاشی میرم. نقاشی هامو داخل وبسایتم خواهید دید.
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<img src="{% static 'images/icon/roller-skater.png' %}" width="60" height="60" alt="">
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">من عاشق اسکیت هستم</h3>
                <p>
                    من با استادم بیشتر حرکت های نمایشی رو یاد گرفتم و قصد دارم در وب سایتم تمریناتم رو که تلاش بسیاری کرده ام بهتون نشون بدم.
                </p>
              </div>
            </div>      
          </div>
        </div>
		</div>
	</section>
    
    {#    last news#}
    <section class="ftco-gallery mb-4">
        <div class="container">
        <div class="row d-flex justify-content-center mb-2 pb-2">
            <div class="col-md-10 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <h2 class="text-center mt-0"><span>آخرین وقایع</span>  زندگی من</h2>
               <p class="text-center">
                   مرسانا : زندگی همیشه با اتفاقات جدید جذاب تر میشه!
               </p>
             </div>
            </div>
            	 <div class="rooms-page-item">
                   <div class="row g-0">
                      {% for new in news %}
                    <div class="col-lg-6 col-md-6 slide-shadow ">
                        <div class="room-pic-slider owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"  style="transform: translate3d(-2070px, 0px, 0px); transition: all 0s ease 0s;">
                                        {% for i in new.news_gallery.all %}
                                              <div class="owl-item active">
                                                    <div class="single-room-pic">
                                                    <img src="{{ i.image.url }}" alt="">
                                                   </div>
                                               <div class="news_caption">
                                                 <p class="text-center">{{ new.title }}</p>
                                                 </div>
                                                </div>
                                        {% endfor %}
                            </div>
                        </div>
{#                            <div class="owl-nav">#}
{#                                <button type="button" class="owl-prev">#}
{#                                    <i class="lnr lnr-arrow-left"></i>#}
{#                                </button>#}
{#                                <button type="button" class="owl-next">#}
{#                                    <i class="lnr lnr-arrow-right"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                            <div class="owl-dots disabled"></div>#}
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </div>
    </section>
    
    {#    !<--My Books-->#}
    <div class="container pt-3">
				<div class="row justify-content-center mb-2">
                     <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated p-0">
                      <h2 class="text-center"><span>معرفی</span> کتاب ماه</h2>
                  <p class="text-center">
                      مرسانا : کتاب همیشه ما را به یک سفر جدید میبره!
                      </p>
                      </div>
                </div>
            </div>
    <section class="ftco-intro" style="background-image: url(/static/images/bg-book.jpg);background-size: cover; background-position: 50% -9.50006px;" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			
				<div class="row d-flex justify-content-around">
                    {% for book in books %}
					<div class="col-md-4">
						<h3 class=" book_name text-center">{{ book.title_book }}</h3>
						<p class="book_text p-3">
                            {{ book.description|linebreaksbr }}
                        </p>
                   
{#						<p class="mb-0"><a href="#" class="btn btn-secondary px-4 py-1">اطلاعات بیشتر</a></p>#}
					
					</div>
                  <div class="col-md-3 mt-4">
                         <div class="blog-entry d-flex justify-content-center">
                            <img src="{{ book.image.url }}" width="350" height="450" alt="">
                        </div>
                        <div class="blog-entry d-flex justify-content-center boot-detail">
                            <ul>
                                <li> موضوع: {{ book.subject }}</li>
                                <li>نویسنده: {{ book.author }}</li>
                                <li>ناشر: {{ book.publisher }}</li>
                                <li>مترجم: {{ book.translator }}</li>
                                <li>تعداد صفحه: {{ book.page_counts }}</li>
                                <li>سال انتشار: {{ book.year_of_publication }}</li>
                               </ul>
                        </div>
                   <audio controls class="w-100 mt-3">
                    <source src="{{ book.music_book }}" type="audio/mp3">
                     </audio>
                        
                        </div>
                      {% endfor %}
				</div>
		
          
		</section>
    
    {#My Travel#}
   <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
             <hr class="bg-primary w-100 d-flex justify-content-center text-center">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class=" text-center"><span>سفرهای</span> من</h2>
            <p class="text-center">
                مرسانا : سفر بخشی از خاطرات ما را می سازد! 
            </p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center pt-0">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
                    {% for trip in trips %}
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img-trip mr-4" style="background-image: url({{ trip.image.url }})">
                  </div>
                </div>
                   <div class="caption text-center align-items-center">{{ trip.trip_title }} - {{ trip.city }} - {{ trip.trip_date  }}</div>
              </div>
                    {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {#    My Piano#}
   
    <section class="ftco-section testimony-section p-2" >
    <div class="container">
              <hr class="bg-primary w-100 d-flex justify-content-center text-center">
          <div class="col-md-12 text-center heading-section">
              
            <h2 id="piano_section" class="mb-3 text-center"><span>پیانوی </span> من</h2>
            <p class="text-center">
                مرسانا : موسیقی در تمام دنیا همیشه آرامش بخش است!
            </p>
          </div>
        <div class="row d-flex justify-content-center">
            {% for piano in pianos %}
            	  <div class="p-4">
           
            <video width="300" height="200" controls>
              <source src="{{ piano.video.url }}" type="video/mp4">
            </video>
                          <p class="caption text-center">{{ piano.title }}</p>
                          
                    </div>
                    {% endfor %}
                    </div>
        </div>
            </section>
    
{#    My Paint#}
    <section  class="ftco-section ftco-counter img"  style="background-image: url(/static/images/bg_paint.jpg); background-position: 50% -22.3px;" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section heading-section-black ftco-animate fadeInUp ftco-animated">
            <h2 id="paint_section" class="mt-1 pb-1 text-center"><span>گالری</span> نقاشی های من</h2>
                <p class="text-center">
                مرسانا : نقاشی دنیای احساسات است!
               </p>
            <p>
                
            </p>
          </div>
        </div>	
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-10">
    				<div class="row d-md-flex align-items-center">
                        <div class="main-image">
                            <div class="container">
                          <ul class='list'>
                              {% for paint in paints %}
                              	<li class='item'> 
                                    <img src='{{paint.image.url}}' alt="paint-img">
                                </li>
                              {% endfor %}
                          </ul>
                                </div>
                        </div>

	          </div>
          </div>
        </div>
    	</div>
  

    </section>
    
{#  My School#}
    <section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-1 mt-4 pb-2">
                     <hr class="bg-primary w-100 text-center">
          <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
          <h2 class="text-center"><span>مدرسه</span> من</h2>
                <p class="text-center">
                مرسانا میگه : مدرسه برای من به معنای باسواد بودن و داشتن دوستان جدید است !
            </p>
          </div>
        </div>	
				<div class="row">
                    {% for school in schools %}
					<div class="col-md-6 course d-lg-flex ftco-animate fadeInUp ftco-animated">
						<div class="img" style="background-image: url({{ school.image.url }});"></div>
						<div class="text bg-light p-2">
							<h3><a href="#">{{ school.school_name }}</a></h3>
                            <div class="d-flex justify-content-between">
                              <p class="subheading p-1"><span>دوره:</span>{{ school.period }}</p>
						    	<p class="subheading p-1"><span>سال:</span> {{ school.date }}</p>
                            </div>
						
							<p class="mt-0" style="text-align: justify">
                                {{ school.description }}
                            </p>
						</div>
					</div>
		              {% endfor %}
					
				</div>
			</div>
		</section>
    
{#Best Of My Friend#}
   <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-2 pb-2">
             <hr class="bg-primary w-100 d-flex justify-content-center text-center">
          <div class="col-md-8 text-center heading-section ftco-animate">
              
            <h2 class="mb-1 text-center"><span>بهترین</span> دوستان من</h2>
            <p class="text-center">
                مرسانا میگه : دوست خوب داشتن یک هنر در زندگیست! 
            </p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
                {% for friend in friends %}
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-2" style="background-image: url({{ friend.image.url }})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
{#                      <i class="icon-quote-left"></i>#}
                    </span>
                      <h4 style="color: #db10f2; font-weight: bold">{{ friend.name }}</h4>
                        <h5 class="p-1" style="color: cornflowerblue;">{{ friend.important_title }}</h5>
                    <p>
                {{ friend.description }}

                        </p>                  
                    
                  </div>
                </div>
              </div>
                {% endfor %}
           
            </div>
          </div>
        </div>
      </div>
    </section>
    
{#  Best Of My Music#}
    <section class="ftco-section testimony-section p-2">
    <div class="container">
              <hr class="bg-primary w-100 d-flex justify-content-center text-center">
          <div class="col-md-12 text-center heading-section">
              
            <h2 class="mb-3 text-center"><span>آهنگ های</span> مورد علاقه من</h2>
         <p class="text-center">
                مرسانا میگه : آهنگ ها برای شادی ما هستند!
            </p>         
          </div>
        <div class="row d-flex justify-content-center">
            {% for music in musics %}
            	   <div class="p-4">
                <audio controls>
        <source src="{{ music.music.url }}" type="audio/mp3">
         </audio>
              <p class="text-center">{{ music.title }}</p>    
            </div>
            {% endfor %}
            
         
            </div>
</div>
    </section>
    
{# My sport#}
     <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
             <hr class="bg-primary w-100 d-flex justify-content-center text-center">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class=" text-center"><span>ورزش</span> من</h2>
            <p class="text-center">
                مرسانا میگه : اسکیت و بسکتبال از رشته های ورزشی مورد علاقه من هستند! 
            </p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center pt-0">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
                    {% for sport in sports %}
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img-trip mr-4" style="background-image: url({{ sport.image.url }})">
                  </div>
                </div>
{#                   <div class="caption text-center align-items-center">{{ trip.trip_title }} - {{ trip.trip_date  }}</div>#}
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    
{#    My picture#}

   <section class="ftco-gallery mb-4">
    	<div class="container-fluid">
        <div class="row d-flex justify-content-center mb-2 pb-2">
          <div class="col-md-10 text-center heading-section ftco-animate fadeInUp ftco-animated">
                  <hr class="bg-primary w-100 d-flex justify-content-center text-center">
            <h2 class="text-center mt-0"><span>گالری</span> تصاویر من</h2>
          </div>
            </div>	
    		<div class="row g-1 d-flex justify-content-center">
                {% for picture in pictures %}
    <div class="col-md-2 ftco-animate fadeInUp ftco-animated mt-4">
        <a href="{{ picture.image.url }}" class="gallery image-popup img d-flex align-items-center" 
           style="background-image: url({{ picture.image.url }});">
            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-zoom_in"></span>
            </div>
        </a>
    </div>
{% endfor %}

        </div>
    	</div>
    </section>


    
{#    My comment#}
    <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb pt-4 d-flex justify-content-md-end comment_back" 
             style="">
    	<div class="container">
    	 <div class="row g-1 justify-content-between">
    			<div class="col-md-4 col-5 py-4 px-md-4 bg-info">
	          <div class="heading-section heading-section-white ftco-animate mb-5 fadeInUp ftco-animated">
	            <h5 class="comment_header_send">ممنون میشم نظرتون رو هم واسم بفرستین.</h5>
              </div>
	          <form id="commentForm" action="{% url 'send_comment' %}" class="appointment-form ftco-animate fadeInUp ftco-animated" 
                    method="post" novalidate >
                  {% csrf_token %}
	    				<div class="d-md-flex" >
		    				<div class="form-group" >
		    					<input type="text" class="form-control" placeholder="نام"  name="name">
                                
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              <textarea name="message" id="" cols="40" rows="3" class="form-control" placeholder="دیدگاه شما"></textarea>
                                 
		            </div>
		           
	    				</div>
                   <div class="d-flex justify-content-end p-o">
		              <button type="submit" class="btn btn-secondary btn-block mt-4">ارسال نظر</button>
		            </div>
	    			</form>
    			</div>
            <div class="col-md-3 p-3 d-flex align-items-end justify-content-center pt-2">
                <p class="visitor">  تعداد بازدید از وبسایت من:<span>{{ visit_count }}</span></p>
            </div>
                <div class="col-md-4 col-lg-4 d-flex">
                    <div class="form-group comment_box" >
							<div class=" p-2">
							<h4 class="comment_header bg-info">آخرین نظرات شما </h4>
                                {% for comment in comments %}
                                	        <h6 class="comment_name">{{ comment.name }}:</h6>
							<p class="comment_message">
                                {{ comment.message }}
                            </p>
                                {% endfor %}
						</div>
{#                      <div class="row p-4 d-flex justify-content-center">#}
           
{#        </div>#}
                    </div>
             
                    </div>
          
                </div>
      
                   
         </div>
      
    </section>
    

 {% endblock %}

